body {
  overflow: hidden;
}

.url-list {
  width: 100%;
}

.url-list-item {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: normal;
  word-break: break-word;
}

.popup-container{
  padding: 20px;
  width: 350px;
  max-height: 600px; 
  overflow-y: auto;  
}

.icon{
  width: 20px;
  height: 20px;
  border-width: 2px;
  margin-right: 5px;
}

.icon:hover{
  background-color: rgb(255, 148, 148);
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header {
  display: flex;
}

.header-btn{
  width: 20px;
  height: 20px;
}

.header-btn:hover{
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
  cursor: pointer;
}

.header-title{
  flex: 2;
}